<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title,class: 'form-control' %>
  </div>
  <div class="form-group">
  <% if current_user&&@course.user==current_user  %>
    <%= f.label :user_id %><br>
    <%= current_user.try(:name)  %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Course",class:"btn btn-danger" %>
  </div>
<% end %>
