<div class="panel panel-primary">
  <div class="panel-heading"><h2 class="container">Sign up</h2></div>

<div class="panel-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
      <%= f.label :name %> <br>
      <%= f.text_field :name ,class: 'form-control' %>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :date_of_birth %> <br>
      <%= f.date_select :date_of_birth, start_year: 1990 ,class: 'form-control' %>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :gender %> <br>
      <%= f.radio_button :gender  , "male" ,:checked => true%>
      <%= f.label :gender  , "Male" %>
      <%= f.radio_button :gender , "female" %>
      <%= f.label :gender  , "Female" %>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true,class: 'form-control' %>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" ,class: 'form-control'%>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" ,class: 'form-control'%>
    </div>
    <div class="form-group">
    <%= f.label :profile_picture %><br>
    <%= f.file_field :profile_picture %>
    <% if f.object.profile_picture? %>
      <%= image_tag f.object.profile_picture.thumb.url %>
      <%= f.label :remove_profile_picture %>
      <%= f.check_box :remove_profile_picture %> 
    <% end %>
  </div>

    <div class="actions">
      <%= f.submit "Sign up" ,class:"btn btn-primary"%>
    </div>
<% end %>
    <div class="panel-footer">
      <%= render "devise/shared/links"%>
    </div>
  </div>
</div>